nifi-layouts/PoC_V1.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>10c5584f-015e-1000-23b1-7959f0342114</groupId>
  <name>PoC_V1</name>
  <snippet>
    <connections>
      <id>8e9a6460-211d-3bf8-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1509.1218778667399</x>
        <y>905.6898666236691</y>
      </bends>
      <bends>
        <x>1572.9953008360987</x>
        <y>965.5436666571197</y>
      </bends>
      <destination>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>e15a1a6d-e9a6-3e4c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>10 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>e15a1a6d-e9a6-3e4c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>8feb824e-80d5-316c-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>d9b8b138-30ee-37c5-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>a3decf10-1556-3bd7-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>94f56791-0c90-304a-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>a9935ecf-6143-385e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>c16c5762-46c9-30bb-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>96e94622-dbe9-3ac7-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>0319dd20-2a5f-3530-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>6e5354f2-3e95-3896-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>a20f2892-2523-39f9-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>bdd3aa31-3a4a-3384-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>isJson</selectedRelationships>
      <source>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>5ce6989f-0f0d-3867-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>c4a5c432-8eae-3947-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>d08011de-d6d2-3feb-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>10 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>6e5354f2-3e95-3896-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>d70d4c36-d67c-3827-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>0abbcfdd-cd68-3f36-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>10 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>e15a1a6d-e9a6-3e4c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>e4f00083-53e9-3383-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>6e5354f2-3e95-3896-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>3e3a8e94-d241-3595-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>ec3f94d2-34d4-3b9e-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>00500cba-1ce5-33bc-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>187b96cd-59e8-3a15-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>f50c1c70-d62b-311c-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1823.7592168517237</x>
        <y>1283.0345113836822</y>
      </bends>
      <destination>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>eca45ce5-f98d-3fc2-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>No Retry</selectedRelationships>
      <source>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>00500cba-1ce5-33bc-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>056a6f9d-a467-308e-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>187b96cd-59e8-3a15-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>splits</selectedRelationships>
      <source>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>b4612b3f-3cb9-3377-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>22bc2bf8-8354-3847-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>5ce6989f-0f0d-3867-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>isJson</selectedRelationships>
      <source>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>a9935ecf-6143-385e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>29fa91dd-9ef1-345c-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>2210.1294561095365</x>
        <y>1281.9583395086822</y>
      </bends>
      <destination>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>eca45ce5-f98d-3fc2-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>Response</selectedRelationships>
      <source>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>00500cba-1ce5-33bc-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>4f489dd7-01cf-3eb1-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>b4612b3f-3cb9-3377-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>bdd3aa31-3a4a-3384-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>73a4eb3a-6d16-3fb4-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>e15a1a6d-e9a6-3e4c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0df99d5d-b05f-33ae-0000-000000000000</groupId>
        <id>d9b8b138-30ee-37c5-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <processors>
      <id>a3decf10-1556-3bd7-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <position>
        <x>1051.8757940001612</x>
        <y>273.00060635438535</y>
      </position>
      <bundle>
        <artifact>nifi-social-media-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Twitter Endpoint</key>
            <value>
              <name>Twitter Endpoint</name>
            </value>
          </entry>
          <entry>
            <key>Consumer Key</key>
            <value>
              <name>Consumer Key</name>
            </value>
          </entry>
          <entry>
            <key>Consumer Secret</key>
            <value>
              <name>Consumer Secret</name>
            </value>
          </entry>
          <entry>
            <key>Access Token</key>
            <value>
              <name>Access Token</name>
            </value>
          </entry>
          <entry>
            <key>Access Token Secret</key>
            <value>
              <name>Access Token Secret</name>
            </value>
          </entry>
          <entry>
            <key>Languages</key>
            <value>
              <name>Languages</name>
            </value>
          </entry>
          <entry>
            <key>Terms to Filter On</key>
            <value>
              <name>Terms to Filter On</name>
            </value>
          </entry>
          <entry>
            <key>IDs to Follow</key>
            <value>
              <name>IDs to Follow</name>
            </value>
          </entry>
          <entry>
            <key>Locations to Filter On</key>
            <value>
              <name>Locations to Filter On</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Twitter Endpoint</key>
            <value>Filter Endpoint</value>
          </entry>
          <entry>
            <key>Consumer Key</key>
            <value>GD7Fr0uxxDhiIO1U33zn0XHUD</value>
          </entry>
          <entry>
            <key>Consumer Secret</key>
          </entry>
          <entry>
            <key>Access Token</key>
            <value>15067432-suRPk1Vc9gk0yBe8mgGCQDisH2Bz13CB2TdGrg0MI</value>
          </entry>
          <entry>
            <key>Access Token Secret</key>
          </entry>
          <entry>
            <key>Languages</key>
            <value>en</value>
          </entry>
          <entry>
            <key>Terms to Filter On</key>
            <value>earthquake, hurricane, harvey</value>
          </entry>
          <entry>
            <key>IDs to Follow</key>
          </entry>
          <entry>
            <key>Locations to Filter On</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetTwitter</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.twitter.GetTwitter</type>
    </processors>
    <processors>
      <id>a9935ecf-6143-385e-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <position>
        <x>2650.805220814699</x>
        <y>2.266851305961609</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Routing Strategy</key>
            <value>
              <name>Routing Strategy</name>
            </value>
          </entry>
          <entry>
            <key>isJson</key>
            <value>
              <name>isJson</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Routing Strategy</key>
            <value>Route to Property name</value>
          </entry>
          <entry>
            <key>isJson</key>
            <value>${filename:contains('json')}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>RouteOnAttribute</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>isJson</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
    </processors>
    <processors>
      <id>b4612b3f-3cb9-3377-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <position>
        <x>1851.756392689699</x>
        <y>540.2960662841797</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Line Split Count</key>
            <value>
              <name>Line Split Count</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Fragment Size</key>
            <value>
              <name>Maximum Fragment Size</name>
            </value>
          </entry>
          <entry>
            <key>Header Line Count</key>
            <value>
              <name>Header Line Count</name>
            </value>
          </entry>
          <entry>
            <key>Header Line Marker Characters</key>
            <value>
              <name>Header Line Marker Characters</name>
            </value>
          </entry>
          <entry>
            <key>Remove Trailing Newlines</key>
            <value>
              <name>Remove Trailing Newlines</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Line Split Count</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Maximum Fragment Size</key>
          </entry>
          <entry>
            <key>Header Line Count</key>
            <value>0</value>
          </entry>
          <entry>
            <key>Header Line Marker Characters</key>
          </entry>
          <entry>
            <key>Remove Trailing Newlines</key>
            <value>true</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>SplitText</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>splits</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.SplitText</type>
    </processors>
    <processors>
      <id>bdd3aa31-3a4a-3384-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <position>
        <x>1851.805220814699</x>
        <y>286.99998474121094</y>
      </position>
      <bundle>
        <artifact>nifi-aws-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Bucket</key>
            <value>
              <name>Bucket</name>
            </value>
          </entry>
          <entry>
            <key>Object Key</key>
            <value>
              <name>Object Key</name>
            </value>
          </entry>
          <entry>
            <key>Region</key>
            <value>
              <name>Region</name>
            </value>
          </entry>
          <entry>
            <key>Access Key</key>
            <value>
              <name>Access Key</name>
            </value>
          </entry>
          <entry>
            <key>Secret Key</key>
            <value>
              <name>Secret Key</name>
            </value>
          </entry>
          <entry>
            <key>Credentials File</key>
            <value>
              <name>Credentials File</name>
            </value>
          </entry>
          <entry>
            <key>AWS Credentials Provider service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
              <name>AWS Credentials Provider service</name>
            </value>
          </entry>
          <entry>
            <key>Communications Timeout</key>
            <value>
              <name>Communications Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Version</key>
            <value>
              <name>Version</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Endpoint Override URL</key>
            <value>
              <name>Endpoint Override URL</name>
            </value>
          </entry>
          <entry>
            <key>Signer Override</key>
            <value>
              <name>Signer Override</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host Port</key>
            <value>
              <name>Proxy Host Port</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Bucket</key>
            <value>spark-sem-dq-assessment</value>
          </entry>
          <entry>
            <key>Object Key</key>
            <value>${filename}</value>
          </entry>
          <entry>
            <key>Region</key>
            <value>eu-west-1</value>
          </entry>
          <entry>
            <key>Access Key</key>
          </entry>
          <entry>
            <key>Secret Key</key>
          </entry>
          <entry>
            <key>Credentials File</key>
          </entry>
          <entry>
            <key>AWS Credentials Provider service</key>
          </entry>
          <entry>
            <key>Communications Timeout</key>
            <value>30 secs</value>
          </entry>
          <entry>
            <key>Version</key>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Endpoint Override URL</key>
          </entry>
          <entry>
            <key>Signer Override</key>
            <value>Default Signature</value>
          </entry>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Proxy Host Port</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>FetchS3Object</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.aws.s3.FetchS3Object</type>
    </processors>
    <processors>
      <id>c16c5762-46c9-30bb-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <position>
        <x>1851.805220814699</x>
        <y>0.0</y>
      </position>
      <bundle>
        <artifact>nifi-aws-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Bucket</key>
            <value>
              <name>Bucket</name>
            </value>
          </entry>
          <entry>
            <key>Region</key>
            <value>
              <name>Region</name>
            </value>
          </entry>
          <entry>
            <key>Access Key</key>
            <value>
              <name>Access Key</name>
            </value>
          </entry>
          <entry>
            <key>Secret Key</key>
            <value>
              <name>Secret Key</name>
            </value>
          </entry>
          <entry>
            <key>Credentials File</key>
            <value>
              <name>Credentials File</name>
            </value>
          </entry>
          <entry>
            <key>AWS Credentials Provider service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
              <name>AWS Credentials Provider service</name>
            </value>
          </entry>
          <entry>
            <key>Communications Timeout</key>
            <value>
              <name>Communications Timeout</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Endpoint Override URL</key>
            <value>
              <name>Endpoint Override URL</name>
            </value>
          </entry>
          <entry>
            <key>Signer Override</key>
            <value>
              <name>Signer Override</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host Port</key>
            <value>
              <name>Proxy Host Port</name>
            </value>
          </entry>
          <entry>
            <key>delimiter</key>
            <value>
              <name>delimiter</name>
            </value>
          </entry>
          <entry>
            <key>prefix</key>
            <value>
              <name>prefix</name>
            </value>
          </entry>
          <entry>
            <key>use-versions</key>
            <value>
              <name>use-versions</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Bucket</key>
            <value>spark-sem-dq-assessment</value>
          </entry>
          <entry>
            <key>Region</key>
            <value>eu-west-1</value>
          </entry>
          <entry>
            <key>Access Key</key>
          </entry>
          <entry>
            <key>Secret Key</key>
          </entry>
          <entry>
            <key>Credentials File</key>
          </entry>
          <entry>
            <key>AWS Credentials Provider service</key>
          </entry>
          <entry>
            <key>Communications Timeout</key>
            <value>30 secs</value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Endpoint Override URL</key>
          </entry>
          <entry>
            <key>Signer Override</key>
            <value>Default Signature</value>
          </entry>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Proxy Host Port</key>
          </entry>
          <entry>
            <key>delimiter</key>
          </entry>
          <entry>
            <key>prefix</key>
          </entry>
          <entry>
            <key>use-versions</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ListS3</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.aws.s3.ListS3</type>
    </processors>
    <processors>
      <id>d08011de-d6d2-3feb-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>791.3840607560173</y>
      </position>
      <bundle>
        <artifact>nifi-aws-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Object Key</key>
            <value>
              <name>Object Key</name>
            </value>
          </entry>
          <entry>
            <key>Bucket</key>
            <value>
              <name>Bucket</name>
            </value>
          </entry>
          <entry>
            <key>Content Type</key>
            <value>
              <name>Content Type</name>
            </value>
          </entry>
          <entry>
            <key>Access Key</key>
            <value>
              <name>Access Key</name>
            </value>
          </entry>
          <entry>
            <key>Secret Key</key>
            <value>
              <name>Secret Key</name>
            </value>
          </entry>
          <entry>
            <key>Credentials File</key>
            <value>
              <name>Credentials File</name>
            </value>
          </entry>
          <entry>
            <key>AWS Credentials Provider service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
              <name>AWS Credentials Provider service</name>
            </value>
          </entry>
          <entry>
            <key>Storage Class</key>
            <value>
              <name>Storage Class</name>
            </value>
          </entry>
          <entry>
            <key>Region</key>
            <value>
              <name>Region</name>
            </value>
          </entry>
          <entry>
            <key>Communications Timeout</key>
            <value>
              <name>Communications Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Expiration Time Rule</key>
            <value>
              <name>Expiration Time Rule</name>
            </value>
          </entry>
          <entry>
            <key>FullControl User List</key>
            <value>
              <name>FullControl User List</name>
            </value>
          </entry>
          <entry>
            <key>Read Permission User List</key>
            <value>
              <name>Read Permission User List</name>
            </value>
          </entry>
          <entry>
            <key>Write Permission User List</key>
            <value>
              <name>Write Permission User List</name>
            </value>
          </entry>
          <entry>
            <key>Read ACL User List</key>
            <value>
              <name>Read ACL User List</name>
            </value>
          </entry>
          <entry>
            <key>Write ACL User List</key>
            <value>
              <name>Write ACL User List</name>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <name>Owner</name>
            </value>
          </entry>
          <entry>
            <key>canned-acl</key>
            <value>
              <name>canned-acl</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Endpoint Override URL</key>
            <value>
              <name>Endpoint Override URL</name>
            </value>
          </entry>
          <entry>
            <key>Signer Override</key>
            <value>
              <name>Signer Override</name>
            </value>
          </entry>
          <entry>
            <key>Multipart Threshold</key>
            <value>
              <name>Multipart Threshold</name>
            </value>
          </entry>
          <entry>
            <key>Multipart Part Size</key>
            <value>
              <name>Multipart Part Size</name>
            </value>
          </entry>
          <entry>
            <key>Multipart Upload AgeOff Interval</key>
            <value>
              <name>Multipart Upload AgeOff Interval</name>
            </value>
          </entry>
          <entry>
            <key>Multipart Upload Max Age Threshold</key>
            <value>
              <name>Multipart Upload Max Age Threshold</name>
            </value>
          </entry>
          <entry>
            <key>server-side-encryption</key>
            <value>
              <name>server-side-encryption</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host Port</key>
            <value>
              <name>Proxy Host Port</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Object Key</key>
            <value>nt/${folder}/${filename}</value>
          </entry>
          <entry>
            <key>Bucket</key>
            <value>poc-tfm-nifi</value>
          </entry>
          <entry>
            <key>Content Type</key>
          </entry>
          <entry>
            <key>Access Key</key>
          </entry>
          <entry>
            <key>Secret Key</key>
          </entry>
          <entry>
            <key>Credentials File</key>
          </entry>
          <entry>
            <key>AWS Credentials Provider service</key>
          </entry>
          <entry>
            <key>Storage Class</key>
            <value>Standard</value>
          </entry>
          <entry>
            <key>Region</key>
            <value>eu-west-1</value>
          </entry>
          <entry>
            <key>Communications Timeout</key>
            <value>30 secs</value>
          </entry>
          <entry>
            <key>Expiration Time Rule</key>
          </entry>
          <entry>
            <key>FullControl User List</key>
            <value>${s3.permissions.full.users}</value>
          </entry>
          <entry>
            <key>Read Permission User List</key>
            <value>${s3.permissions.read.users}</value>
          </entry>
          <entry>
            <key>Write Permission User List</key>
            <value>${s3.permissions.write.users}</value>
          </entry>
          <entry>
            <key>Read ACL User List</key>
            <value>${s3.permissions.readacl.users}</value>
          </entry>
          <entry>
            <key>Write ACL User List</key>
            <value>${s3.permissions.writeacl.users}</value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>${s3.owner}</value>
          </entry>
          <entry>
            <key>canned-acl</key>
            <value>${s3.permissions.cannedacl}</value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Endpoint Override URL</key>
          </entry>
          <entry>
            <key>Signer Override</key>
            <value>Default Signature</value>
          </entry>
          <entry>
            <key>Multipart Threshold</key>
            <value>5 GB</value>
          </entry>
          <entry>
            <key>Multipart Part Size</key>
            <value>5 GB</value>
          </entry>
          <entry>
            <key>Multipart Upload AgeOff Interval</key>
            <value>60 min</value>
          </entry>
          <entry>
            <key>Multipart Upload Max Age Threshold</key>
            <value>7 days</value>
          </entry>
          <entry>
            <key>server-side-encryption</key>
            <value>None</value>
          </entry>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Proxy Host Port</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutS3Object</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
    </processors>
    <processors>
      <id>d9b8b138-30ee-37c5-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <position>
        <x>1051.1863148072898</x>
        <y>571.5018101099868</y>
      </position>
      <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>Store State</key>
            <value>
              <name>Store State</name>
            </value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
            <value>
              <name>Stateful Variables Initial Value</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>Store State</key>
            <value>Do not store state</value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>UpdateAttribute</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
    <processors>
      <id>e15a1a6d-e9a6-3e4c-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <position>
        <x>1054.1218778667399</x>
        <y>865.6898666236691</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>100</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>URL</key>
            <value>
              <name>URL</name>
            </value>
          </entry>
          <entry>
            <key>Max Batch Size</key>
            <value>
              <name>Max Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Max Data to Post per Second</key>
            <value>
              <name>Max Data to Post per Second</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Username</key>
            <value>
              <name>Username</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
          <entry>
            <key>Send as FlowFile</key>
            <value>
              <name>Send as FlowFile</name>
            </value>
          </entry>
          <entry>
            <key>Use Chunked Encoding</key>
            <value>
              <name>Use Chunked Encoding</name>
            </value>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>
              <name>Compression Level</name>
            </value>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>
              <name>Connection Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>
              <name>Data Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Send as HTTP Headers (Regex)</key>
            <value>
              <name>Attributes to Send as HTTP Headers (Regex)</name>
            </value>
          </entry>
          <entry>
            <key>User Agent</key>
            <value>
              <name>User Agent</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Port</key>
            <value>
              <name>Proxy Port</name>
            </value>
          </entry>
          <entry>
            <key>Content-Type</key>
            <value>
              <name>Content-Type</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>URL</key>
            <value>http://172.17.0.3:9003/datavault/v1/tweet</value>
          </entry>
          <entry>
            <key>Max Batch Size</key>
            <value>100 MB</value>
          </entry>
          <entry>
            <key>Max Data to Post per Second</key>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Username</key>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
          <entry>
            <key>Send as FlowFile</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Use Chunked Encoding</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>0</value>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>30 sec</value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>30 sec</value>
          </entry>
          <entry>
            <key>Attributes to Send as HTTP Headers (Regex)</key>
          </entry>
          <entry>
            <key>User Agent</key>
            <value>Apache-HttpClient/4.5.3 (Java/1.8.0_141)</value>
          </entry>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Proxy Port</key>
          </entry>
          <entry>
            <key>Content-Type</key>
            <value>${mime.type}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PostHTTP</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PostHTTP</type>
    </processors>
    <processors>
      <id>eca45ce5-f98d-3fc2-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <position>
        <x>1862.2040245256364</x>
        <y>1351.7943572998047</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Mode</key>
            <value>
              <name>Mode</name>
            </value>
          </entry>
          <entry>
            <key>Compression Format</key>
            <value>
              <name>Compression Format</name>
            </value>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>
              <name>Compression Level</name>
            </value>
          </entry>
          <entry>
            <key>Update Filename</key>
            <value>
              <name>Update Filename</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Mode</key>
            <value>compress</value>
          </entry>
          <entry>
            <key>Compression Format</key>
            <value>use mime.type attribute</value>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Update Filename</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>CompressContent</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.CompressContent</type>
    </processors>
    <processors>
      <id>00500cba-1ce5-33bc-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <position>
        <x>1852.7377159318864</x>
        <y>1034.9873504638672</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>HTTP Method</key>
            <value>
              <name>HTTP Method</name>
            </value>
          </entry>
          <entry>
            <key>Remote URL</key>
            <value>
              <name>Remote URL</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>
              <name>Connection Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Read Timeout</key>
            <value>
              <name>Read Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Include Date Header</key>
            <value>
              <name>Include Date Header</name>
            </value>
          </entry>
          <entry>
            <key>Follow Redirects</key>
            <value>
              <name>Follow Redirects</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Send</key>
            <value>
              <name>Attributes to Send</name>
            </value>
          </entry>
          <entry>
            <key>Basic Authentication Username</key>
            <value>
              <name>Basic Authentication Username</name>
            </value>
          </entry>
          <entry>
            <key>Basic Authentication Password</key>
            <value>
              <name>Basic Authentication Password</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Port</key>
            <value>
              <name>Proxy Port</name>
            </value>
          </entry>
          <entry>
            <key>invokehttp-proxy-user</key>
            <value>
              <name>invokehttp-proxy-user</name>
            </value>
          </entry>
          <entry>
            <key>invokehttp-proxy-password</key>
            <value>
              <name>invokehttp-proxy-password</name>
            </value>
          </entry>
          <entry>
            <key>Put Response Body In Attribute</key>
            <value>
              <name>Put Response Body In Attribute</name>
            </value>
          </entry>
          <entry>
            <key>Max Length To Put In Attribute</key>
            <value>
              <name>Max Length To Put In Attribute</name>
            </value>
          </entry>
          <entry>
            <key>Digest Authentication</key>
            <value>
              <name>Digest Authentication</name>
            </value>
          </entry>
          <entry>
            <key>Always Output Response</key>
            <value>
              <name>Always Output Response</name>
            </value>
          </entry>
          <entry>
            <key>Trusted Hostname</key>
            <value>
              <name>Trusted Hostname</name>
            </value>
          </entry>
          <entry>
            <key>Add Response Headers to Request</key>
            <value>
              <name>Add Response Headers to Request</name>
            </value>
          </entry>
          <entry>
            <key>Content-Type</key>
            <value>
              <name>Content-Type</name>
            </value>
          </entry>
          <entry>
            <key>send-message-body</key>
            <value>
              <name>send-message-body</name>
            </value>
          </entry>
          <entry>
            <key>Use Chunked Encoding</key>
            <value>
              <name>Use Chunked Encoding</name>
            </value>
          </entry>
          <entry>
            <key>Penalize on "No Retry"</key>
            <value>
              <name>Penalize on "No Retry"</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>HTTP Method</key>
            <value>POST</value>
          </entry>
          <entry>
            <key>Remote URL</key>
            <value>https://search-pociam-uoj5wp6thcfbyba6exn3o2aiym.eu-west-1.es.amazonaws.com/test_index/test/</value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>5 secs</value>
          </entry>
          <entry>
            <key>Read Timeout</key>
            <value>15 secs</value>
          </entry>
          <entry>
            <key>Include Date Header</key>
            <value>True</value>
          </entry>
          <entry>
            <key>Follow Redirects</key>
            <value>True</value>
          </entry>
          <entry>
            <key>Attributes to Send</key>
          </entry>
          <entry>
            <key>Basic Authentication Username</key>
          </entry>
          <entry>
            <key>Basic Authentication Password</key>
          </entry>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Proxy Port</key>
          </entry>
          <entry>
            <key>invokehttp-proxy-user</key>
          </entry>
          <entry>
            <key>invokehttp-proxy-password</key>
          </entry>
          <entry>
            <key>Put Response Body In Attribute</key>
          </entry>
          <entry>
            <key>Max Length To Put In Attribute</key>
            <value>256</value>
          </entry>
          <entry>
            <key>Digest Authentication</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Always Output Response</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Trusted Hostname</key>
          </entry>
          <entry>
            <key>Add Response Headers to Request</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Content-Type</key>
            <value>${mime.type}</value>
          </entry>
          <entry>
            <key>send-message-body</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Use Chunked Encoding</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Penalize on "No Retry"</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>InvokeHTTP</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>No Retry</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>Response</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Retry</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
    </processors>
    <processors>
      <id>0319dd20-2a5f-3530-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <position>
        <x>666.9172994010601</x>
        <y>785.1005513041879</y>
      </position>
      <bundle>
        <artifact>nifi-hadoop-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>
              <name>Hadoop Configuration Resources</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>
              <name>Kerberos Relogin Period</name>
            </value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
            <value>
              <name>Additional Classpath Resources</name>
            </value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Block Size</key>
            <value>
              <name>Block Size</name>
            </value>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
            <value>
              <name>IO Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replication</key>
            <value>
              <name>Replication</name>
            </value>
          </entry>
          <entry>
            <key>Permissions umask</key>
            <value>
              <name>Permissions umask</name>
            </value>
          </entry>
          <entry>
            <key>Remote Owner</key>
            <value>
              <name>Remote Owner</name>
            </value>
          </entry>
          <entry>
            <key>Remote Group</key>
            <value>
              <name>Remote Group</name>
            </value>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>
              <name>Compression codec</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hadoop Configuration Resources</key>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>4 hours</value>
          </entry>
          <entry>
            <key>Additional Classpath Resources</key>
          </entry>
          <entry>
            <key>Directory</key>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>fail</value>
          </entry>
          <entry>
            <key>Block Size</key>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
          </entry>
          <entry>
            <key>Replication</key>
          </entry>
          <entry>
            <key>Permissions umask</key>
          </entry>
          <entry>
            <key>Remote Owner</key>
          </entry>
          <entry>
            <key>Remote Group</key>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>NONE</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHDFS</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
    </processors>
    <processors>
      <id>0abbcfdd-cd68-3f36-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <position>
        <x>1049.2803089479148</x>
        <y>1142.1555576685805</y>
      </position>
      <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>Store State</key>
            <value>
              <name>Store State</name>
            </value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
            <value>
              <name>Stateful Variables Initial Value</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>Store State</key>
            <value>Do not store state</value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>UpdateAttribute</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
    <processors>
      <id>187b96cd-59e8-3a15-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <position>
        <x>1850.957564564699</x>
        <y>798.7231903076172</y>
      </position>
      <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>Store State</key>
            <value>
              <name>Store State</name>
            </value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
            <value>
              <name>Stateful Variables Initial Value</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>Store State</key>
            <value>Do not store state</value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>UpdateAttribute</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
    <processors>
      <id>3e3a8e94-d241-3595-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <position>
        <x>352.1179082156242</x>
        <y>287.5295359829118</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>100</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Base Path</key>
            <value>
              <name>Base Path</name>
            </value>
          </entry>
          <entry>
            <key>Listening Port</key>
            <value>
              <name>Listening Port</name>
            </value>
          </entry>
          <entry>
            <key>Max Data to Receive per Second</key>
            <value>
              <name>Max Data to Receive per Second</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Authorized DN Pattern</key>
            <value>
              <name>Authorized DN Pattern</name>
            </value>
          </entry>
          <entry>
            <key>Max Unconfirmed Flowfile Time</key>
            <value>
              <name>Max Unconfirmed Flowfile Time</name>
            </value>
          </entry>
          <entry>
            <key>HTTP Headers to receive as Attributes (Regex)</key>
            <value>
              <name>HTTP Headers to receive as Attributes (Regex)</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Base Path</key>
            <value>datavault/v1/listener</value>
          </entry>
          <entry>
            <key>Listening Port</key>
            <value>9091</value>
          </entry>
          <entry>
            <key>Max Data to Receive per Second</key>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Authorized DN Pattern</key>
            <value>.*</value>
          </entry>
          <entry>
            <key>Max Unconfirmed Flowfile Time</key>
            <value>60 secs</value>
          </entry>
          <entry>
            <key>HTTP Headers to receive as Attributes (Regex)</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ListenHTTP</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ListenHTTP</type>
    </processors>
    <processors>
      <id>5ce6989f-0f0d-3867-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <position>
        <x>2648.805220814699</x>
        <y>282.99998474121094</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Routing Strategy</key>
            <value>
              <name>Routing Strategy</name>
            </value>
          </entry>
          <entry>
            <key>isJson</key>
            <value>
              <name>isJson</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Routing Strategy</key>
            <value>Route to Property name</value>
          </entry>
          <entry>
            <key>isJson</key>
            <value>${filename:contains('_temporary'):not()}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>RouteOnAttribute</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>isJson</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
    </processors>
    <processors>
      <id>6e5354f2-3e95-3896-0000-000000000000</id>
      <parentGroupId>0df99d5d-b05f-33ae-0000-000000000000</parentGroupId>
      <position>
        <x>349.93787536631237</x>
        <y>531.8094126918958</y>
      </position>
      <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>Store State</key>
            <value>
              <name>Store State</name>
            </value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
            <value>
              <name>Stateful Variables Initial Value</name>
            </value>
          </entry>
          <entry>
            <key>filename</key>
            <value>
              <name>filename</name>
            </value>
          </entry>
          <entry>
            <key>folder</key>
            <value>
              <name>folder</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>Store State</key>
            <value>Do not store state</value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
          </entry>
          <entry>
            <key>filename</key>
            <value>${filename}.nt</value>
          </entry>
          <entry>
            <key>folder</key>
            <value>${now():format("yyyy-MM-dd")}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>UpdateAttribute</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
  </snippet>
  <timestamp>09/23/2017 20:30:24 UTC</timestamp>
</template>